
<div class="container">
    <p class="title">The history of our restaurant</p>
    <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quam eaque officia beatae, voluptates aliquid optio est pariatur deserunt tempora non incidunt voluptatum sed debitis at sit omnis aspernatur dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat velit quod est repudiandae quaerat eius harum commodi magnam facere ipsa esse voluptas illum dicta quisquam, laudantium veniam nostrum cupiditate. Laborum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis atque ea quam voluptatibus excepturi veniam, fugiat laudantium suscipit obcaecati nesciunt beatae pariatur doloremque qui? Officia sed sequi veritatis a maxime.</p>
</div>

<div class="main">
</div>