<div class="px-4 py-5  text-center hero">
    <div class="cont">
    <p class="logoFont">Ristorante Ie Gambero Rosso</p>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"></p>
      <div class="contBtn d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" routerLink="menu" class="btn btn-dark btn-lg px-4 gap-3">Menu</button>
        <button type="button" routerLink="about" class="btn btn-dark btn-lg px-4">About Us</button>
      </div>
    </div>
    </div>
  </div>

  <div class="cont01"><div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Why are we the best?</h2>
      <p class="lead">Dive into a world of unparalleled seafood delight at our exquisite fish restaurant, where passion for the ocean meets culinary expertise. At Ocean's Bounty, we pride ourselves on being the best seafood destination for a multitude of reasons.
        <br>

         Freshness Beyond Compare: Our commitment to serving only the freshest catch ensures that every dish bursts with the authentic flavors of the sea. We source our seafood daily, directly from the finest fishermen and sustainable suppliers, guaranteeing a taste that's as fresh as the ocean breeze.
        <br>
        Masterfully Crafted Creations: Our chefs are culinary artists, transforming the ocean's treasures into masterpieces that dance on your taste buds. From classic favorites to innovative creations, each dish is a testament to our dedication to culinary excellence.
        <br>
        Impeccable Quality: Quality is our mantra. From the selection of ingredients to the presentation on your plate, we uphold the highest standards. Our commitment to providing an exceptional dining experience is reflected in every aspect of your meal.
        <br>
        A Tranquil Ambiance: Immerse yourself in a serene ambiance that mirrors the tranquility of the ocean. Whether you're enjoying a romantic dinner or a lively gathering with friends, Ocean's Bounty provides the perfect setting for a memorable dining experience.
        <br>
        
        Indulge in a culinary voyage like no other, where the finest seafood, impeccable quality, and a warm ambiance converge to create a dining experience that's truly the best in class. Welcome to Ocean's Bounty – where the ocean's treasures meet culinary perfection! 🌊🍴</p>
    </div>
    <div class="col-md-5">
        <img   src="assets/images/shrimp03.jpg" alt="Bootstrap"  height="400" width="400">
    </div>
  </div>
</div>
