<div class="px-4 py-5  text-center hero">
    <div class="cont">
    <p class="logoFont">Ristorante Ie Gambero Rosso</p>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"></p>
      <div class="contBtn d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-dark btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-dark btn-lg px-4">Secondary</button>
      </div>
    </div>
    </div>
  </div>

  <div class="cont01"><div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Why are we the best?</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, accusamus fuga rem ullam, nemo hic, officiis provident magnam assumenda a maiores id quia accusantium tempore aspernatur pariatur eveniet corporis in? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas rerum quas sint, pariatur ratione natus accusantium velit. Impedit nihil assumenda possimus, soluta consectetur beatae officiis ducimus? Porro possimus autem harum.</p>
    </div>
    <div class="col-md-5">
        <img   src="assets/images/shrimp03.jpg" alt="Bootstrap"  height="400" width="400">
    </div>
  </div>
</div>
