
h2 {
    padding-top: 10%;
    margin-left: 20%;
    margin-bottom: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    font-weight: 800;
}

.conteiner {
    display: flexbox;
    width: 60%;
    margin-left: 20%;
}

.btn {
    padding-left: 40px;
    padding-right: 40px;
}